In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time

#API Key
from api_keys import g_key

In [2]:
#load in CSV from part 1
weather_df = pd.read_csv("../WeatherPy/Data/city_data.csv")
weather_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Mossamedes,0,AO,1626970311,58,-15.1961,12.1522,72.54,8.16
1,Ereymentau,0,KZ,1626970312,42,51.6199,73.1033,68.99,6.24
2,Kitob,0,UZ,1626970312,14,39.0843,66.8332,86.58,1.72
3,Vila Velha,75,BR,1626970312,70,-20.3297,-40.2925,75.96,12.66
4,Östersund,75,SE,1626970313,67,63.1792,14.6357,55.85,29.93
...,...,...,...,...,...,...,...,...,...
533,Cadiz,0,ES,1626970478,21,36.5000,-5.7500,99.12,11.32
534,Nadym,52,RU,1626970479,58,65.5333,72.5167,58.37,8.75
535,Westport,20,US,1626970479,55,41.1415,-73.3579,81.86,1.01
536,Zhuji,14,CN,1626970479,98,29.7188,120.2423,80.51,3.87
537,Matara,99,LK,1626970480,87,5.9485,80.5353,79.03,14.88

In [3]:
# Humidity Heatmap
# use configure to import maps
gmaps.configure(api_key=g_key)

# use Lat and Lngs for locations, store in a list to use later
locations = weather_df[["Lat", "Lng"]]

# use humidity and store in list for use in heat map values
humidity = weather_df[["Humidity"]]

In [4]:
# humidity = weather_df[["Humidity"]]

# # Plot Heatmap
# heat_map = gmaps.figure(center=(0, 0), zoom_level=2)
# max_intensity = np.max(humidity)


# # Heat layer...
# heat = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)

# # Apply Layer
# heat_map.add_layer(heat)

# #generate display
# heat_map

humidity = weather_df["Humidity"]

fig = gmaps.figure(center=(0, 0), zoom_level=2)
max_intensity = np.max(humidity)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
max_intensity

100

In [6]:
# New df for weather

In [7]:
# Using example criteria to narrow down city df
narrow_df = weather_df.loc[(weather_df["Wind Speed"] <= 10) & (weather_df["Cloudiness"] >= 0) &
                          (weather_df["Max Temp"] >= 70) & (weather_df["Max Temp"] <= 80)].dropna()

narrow_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Mossamedes,0,AO,1626970311,58,-15.1961,12.1522,72.54,8.16
7,Martapura,90,ID,1626970314,94,-3.4167,114.8500,77.09,2.30
10,Arteaga,74,MX,1626970315,78,18.4667,-102.4167,71.53,3.33
22,Nanfeng,1,CN,1626970319,92,23.7434,111.7959,78.44,0.49
29,Caucayá,90,CO,1626970256,91,-0.1934,-74.7819,76.60,3.89
...,...,...,...,...,...,...,...,...,...
512,Taos,1,US,1626970473,57,36.4072,-105.5731,75.72,1.01
517,Palu,99,ID,1626970474,92,-0.8917,119.8707,76.50,2.55
520,Troitskoye,100,RU,1626970475,62,52.9821,84.6757,70.50,9.19
524,Along,10,IN,1626970476,91,28.1667,94.7667,77.27,2.59
530,Barcelos,30,PT,1626970478,59,41.5388,-8.6151,70.84,9.10

In [8]:
# Hotel df

In [14]:
# df for hotel using filtered df
hotel_df = narrow_df.loc[:,["City","Country","Lat","Lng"]]

#add 'hotel' column to df
hotel_df["Hotel"] = ""

hotel_df

           City Country      Lat       Lng Hotel
0    Mossamedes      AO -15.1961   12.1522
7     Martapura      ID  -3.4167  114.8500
10      Arteaga      MX  18.4667 -102.4167
22      Nanfeng      CN  23.7434  111.7959
29      Caucayá      CO  -0.1934  -74.7819
..          ...     ...      ...       ...   ...
512        Taos      US  36.4072 -105.5731
517        Palu      ID  -0.8917  119.8707
520  Troitskoye      RU  52.9821   84.6757
524       Along      IN  28.1667   94.7667
530    Barcelos      PT  41.5388   -8.6151

[108 rows x 5 columns]

In [15]:
# Parameters for hotel searcha and url

In [16]:
# url build
search_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

# search parameters
params = {"type" : "hotel",
         "keyword" : "hotel",
         "radius" : 5000,
         "key" : g_key}

In [17]:
#for loop

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    params["location"] = f"{lat},{lng}"
    
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(search_url, params=params).json()
    results = response['results']
    
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
    except (KeyError, IndexError):
        print("Could not find result")
        print("---------------------")
        time.sleep(1)
    print("---------------------Ending Search")

Retrieving Results for Index 0: Mossamedes.
Closest hotel in Mossamedes is Hotel Chik Chik Namibe.
---------------------Ending Search
Retrieving Results for Index 7: Martapura.
Closest hotel in Martapura is Grand Dafam Q Hotel Banjarbaru || DHM Syariah.
---------------------Ending Search
Retrieving Results for Index 10: Arteaga.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 22: Nanfeng.
Closest hotel in Nanfeng is Jinhong Hotel.
---------------------Ending Search
Retrieving Results for Index 29: Caucayá.
Closest hotel in Caucayá is la casona de juancho.
---------------------Ending Search
Retrieving Results for Index 30: Charleville-Mézières.
Closest hotel in Charleville-Mézières is ibis Charleville-Mézières.
---------------------Ending Search
Retrieving Results for Index 33: Guerrero Negro.
Closest hotel in Guerrero Negro is The Halfway Inn.
---------------------Ending Search
Retrieving Results for Index 34: Jamestown.
Closest hotel in Jamestown is Comfort Inn Jamestown - Falconer.
---------------------Ending Search
Retrieving Results for Index 35: Puerto Ayora.
Closest hotel in Puerto Ayora is Galapagos Habitat by Eco Luxury Group.
---------------------Ending Search
Retrieving Results for Index 40: Musoma.
Closest hotel in Musoma is Matvilla Beach.
---------------------Ending Search
Retrieving Results for Index 42: Hasaki.
Closest hotel in Hasaki is Villa Umi To Mori.
---------------------Ending Search
Retrieving Results for Index 53: Albany.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 55: Kapaa.
Closest hotel in Kapaa is Hotel Coral Reef.
---------------------Ending Search
Retrieving Results for Index 61: Xinyu.
Closest hotel in Xinyu is Rongcheng Hotel.
---------------------Ending Search
Retrieving Results for Index 75: Chapais.
Closest hotel in Chapais is Hôtel Opémiska.
---------------------Ending Search
Retrieving Results for Index 77: Senanga.
Closest hotel in Senanga is Zango lodge.
---------------------Ending Search
Retrieving Results for Index 92: Yenagoa.
Closest hotel in Yenagoa is Top Ranks Hotel Galaxy.
---------------------Ending Search
Retrieving Results for Index 98: Khanbari.
Closest hotel in Khanbari is Hotel Barun Sankhuwasabha.
---------------------Ending Search
Retrieving Results for Index 111: Znamenskoye.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 115: Thompson.
Closest hotel in Thompson is Quality Inn & Suites Thompson.
---------------------Ending Search
Retrieving Results for Index 124: Tezu.
Closest hotel in Tezu is Hotel Taboka.
---------------------Ending Search
Retrieving Results for Index 130: Alpena.
Closest hotel in Alpena is Big Bear Lodge.
---------------------Ending Search
Retrieving Results for Index 137: Arraial do Cabo.
Closest hotel in Arraial do Cabo is Orlanova Boutique Hotel.
---------------------Ending Search
Retrieving Results for Index 138: Nyimba.
Closest hotel in Nyimba is Thula Lodge.
---------------------Ending Search
Retrieving Results for Index 146: Xinglongshan.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 157: Mlonggo.
Closest hotel in Mlonggo is Coconut Lodge.
---------------------Ending Search
Retrieving Results for Index 158: Biak.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 162: Katobu.
Closest hotel in Katobu is La Ode Husein.
---------------------Ending Search
Retrieving Results for Index 169: São Filipe.
Closest hotel in São Filipe is La Fora Ecolodge.
---------------------Ending Search
Retrieving Results for Index 170: Candating.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 173: Kieta.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 180: Rome.
Closest hotel in Rome is Wingate By Wyndham Rome.
---------------------Ending Search
Retrieving Results for Index 184: Kathmandu.
Closest hotel in Kathmandu is The Dwarika's Hotel.
---------------------Ending Search
Retrieving Results for Index 187: Puerto Carreño.
Closest hotel in Puerto Carreño is Hotel Carreño Plaza.
---------------------Ending Search
Retrieving Results for Index 190: Sioux Lookout.
Closest hotel in Sioux Lookout is Moosehorn Lodge.
---------------------Ending Search
Retrieving Results for Index 204: Dawei.
Closest hotel in Dawei is Hotel Dawei.
---------------------Ending Search
Retrieving Results for Index 206: Garden City.
Closest hotel in Garden City is Red Apple Inn.
---------------------Ending Search
Retrieving Results for Index 207: Acarí.
Closest hotel in Acarí is HOSPEDAJE XIMENA.
---------------------Ending Search
Retrieving Results for Index 214: Talakan.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 217: Kisarawe.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 219: Stege.
Closest hotel in Stege is Hotel Stege Nor.
---------------------Ending Search
Retrieving Results for Index 220: Don Luan.
Closest hotel in Don Luan is Khách sạn + nhà nghỉ Ban Mai.
---------------------Ending Search
Retrieving Results for Index 239: Gallup.
Closest hotel in Gallup is Days Inn by Wyndham Gallup.
---------------------Ending Search
Retrieving Results for Index 260: Flagstaff.
Closest hotel in Flagstaff is Hotel Monte Vista.
---------------------Ending Search
Retrieving Results for Index 263: Kutum.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 265: Enshi.
Closest hotel in Enshi is Moevenpick Enshi.
---------------------Ending Search
Retrieving Results for Index 266: Bengkulu.
Closest hotel in Bengkulu is Mercure Bengkulu.
---------------------Ending Search
Retrieving Results for Index 270: Ciudad del Maíz.
Closest hotel in Ciudad del Maíz is Hotel Casa Grande.
---------------------Ending Search
Retrieving Results for Index 272: Cowansville.
Closest hotel in Cowansville is L'Auberge des Carrefours.
---------------------Ending Search
Retrieving Results for Index 278: Marawi.
Closest hotel in Marawi is Marawi Resort Hotel.
---------------------Ending Search
Retrieving Results for Index 280: Shelburne.
Closest hotel in Shelburne is Shelburne Motel.
---------------------Ending Search
Retrieving Results for Index 284: Kamenka.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 285: Dicabisagan.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 286: Broome.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 288: Presidencia Roque Sáenz Peña.
Closest hotel in Presidencia Roque Sáenz Peña is Hotel Gualok.
---------------------Ending Search
Retrieving Results for Index 291: Grand Gaube.
Closest hotel in Grand Gaube is LUX Grand Gaube Resort & Villas.
---------------------Ending Search
Retrieving Results for Index 292: Koindu.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 293: Maumere.
Closest hotel in Maumere is Sylvia Hotel.
---------------------Ending Search
Retrieving Results for Index 297: Libušín.
Closest hotel in Libušín is Hotel Kladno.
---------------------Ending Search
Retrieving Results for Index 298: Zavodouspenskoye.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 301: São João da Barra.
Closest hotel in São João da Barra is Pousada Kactus.
---------------------Ending Search
Retrieving Results for Index 302: Makakilo City.
Closest hotel in Makakilo City is Marriott's Ko Olina Beach Club.
---------------------Ending Search
Retrieving Results for Index 308: Namatanai.
Closest hotel in Namatanai is Namatanai Hotel.
---------------------Ending Search
Retrieving Results for Index 317: Luganville.
Closest hotel in Luganville is The Espiritu Hotel.
---------------------Ending Search
Retrieving Results for Index 323: Portage.

Closest hotel in Portage is Rocking Horse Inn.
---------------------Ending Search
Retrieving Results for Index 327: Hashimoto.
Closest hotel in Hashimoto is Route Inn Hashimoto Hotel.
---------------------Ending Search
Retrieving Results for Index 329: Hamilton.
Closest hotel in Hamilton is Graduate Cincinnati.
---------------------Ending Search
Retrieving Results for Index 332: Asău.
Closest hotel in Asău is Pensiunea Sophia.
---------------------Ending Search
Retrieving Results for Index 334: Vila Franca do Campo.
Closest hotel in Vila Franca do Campo is Pestana Bahia Praia.
---------------------Ending Search
Retrieving Results for Index 342: Caravelas.
Closest hotel in Caravelas is Pousada Encanto Abrolhos.
---------------------Ending Search
Retrieving Results for Index 346: Ampanihy.
Closest hotel in Ampanihy is Angora Hotel.
---------------------Ending Search
Retrieving Results for Index 351: Tonj.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 366: Thanh Hoa.
Closest hotel in Thanh Hoa is Muong Thanh Hotel Grand Thanh Hoa.
---------------------Ending Search
Retrieving Results for Index 376: Forsytheganj.
Closest hotel in Forsytheganj is Hotel Svetlogorsk JBIK.
---------------------Ending Search
Retrieving Results for Index 380: Abomsa.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 382: Ambulu.
Closest hotel in Ambulu is Hotel Ambulu Jember.
---------------------Ending Search
Retrieving Results for Index 384: Kandrian.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 385: San Quintín.
Closest hotel in San Quintín is Don Eddie's Landing.
---------------------Ending Search
Retrieving Results for Index 388: Gambēla.
Closest hotel in Gambēla is Grand Resort And Spa,Gambella.
---------------------Ending Search
Retrieving Results for Index 391: Tura.
Closest hotel in Tura is Hotel Polo Orchid.
---------------------Ending Search
Retrieving Results for Index 392: Tambovka.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 393: Fuxin.
Closest hotel in Fuxin is Lavande Hotel Fuxin 318 Park.
---------------------Ending Search
Retrieving Results for Index 399: Menongue.
Closest hotel in Menongue is Ritz Lauca.
---------------------Ending Search
Retrieving Results for Index 408: Boda.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 419: Holland.
Closest hotel in Holland is Haworth Hotel at Hope College.
---------------------Ending Search
Retrieving Results for Index 420: Alyangula.
Closest hotel in Alyangula is Groote Eylandt Lodge.
---------------------Ending Search
Retrieving Results for Index 424: Neiafu.
Closest hotel in Neiafu is Mystic Sands Beachfront Accommodation.
---------------------Ending Search
Retrieving Results for Index 434: Ngaoundéré.
Closest hotel in Ngaoundéré is Transcam Hotel.
---------------------Ending Search
Retrieving Results for Index 438: Minna.
Closest hotel in Minna is Goodway Hotel.
---------------------Ending Search
Retrieving Results for Index 440: Appleton.
Closest hotel in Appleton is DoubleTree by Hilton Appleton.
---------------------Ending Search
Retrieving Results for Index 442: Kalengwa.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 444: Soroti.
Closest hotel in Soroti is Hursey Resort.
---------------------Ending Search
Retrieving Results for Index 457: Glens Falls.
Closest hotel in Glens Falls is Fairfield Inn & Suites by Marriott Queensbury Glens Falls/Lake George Area.
---------------------Ending Search
Retrieving Results for Index 459: Boiu Mare.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 463: Medeiros Neto.
Closest hotel in Medeiros Neto is Medeiros Palace Hotel.
---------------------Ending Search
Retrieving Results for Index 482: Halifax.
Closest hotel in Halifax is Halifax Backpackers Hostel.
---------------------Ending Search
Retrieving Results for Index 489: Vanimo.
Closest hotel in Vanimo is Sandaun Surf Hotel.
---------------------Ending Search
Retrieving Results for Index 491: Atasū.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 493: Padang.
Closest hotel in Padang is Air Manis Hill Residence.
---------------------Ending Search
Retrieving Results for Index 498: Kirando.
Closest hotel in Kirando is Lake Shore Lodge & Campsite.
---------------------Ending Search
Retrieving Results for Index 502: Shagonar.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 505: Samdrup Jongkhar District.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 506: Vyshkov.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 512: Taos.
Closest hotel in Taos is Hotel La Fonda de Taos.
---------------------Ending Search
Retrieving Results for Index 517: Palu.
Closest hotel in Palu is Palu Golden Hotel.
---------------------Ending Search
Retrieving Results for Index 520: Troitskoye.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 524: Along.
Closest hotel in Along is Reyi Homestay.
---------------------Ending Search
Retrieving Results for Index 530: Barcelos.
Closest hotel in Barcelos is Art'otel Barcelos.
---------------------Ending Search

In [18]:
hotel_df

,City,Country,Lat,Lng,Hotel,Hotel Name
0,Mossamedes,AO,-15.1961,12.1522,,Hotel Chik Chik Namibe
7,Martapura,ID,-3.4167,114.8500,,Grand Dafam Q Hotel Banjarbaru || DHM Syariah
10,Arteaga,MX,18.4667,-102.4167,,NaN
22,Nanfeng,CN,23.7434,111.7959,,Jinhong Hotel
29,Caucayá,CO,-0.1934,-74.7819,,la casona de juancho
...,...,...,...,...,...,...
512,Taos,US,36.4072,-105.5731,,Hotel La Fonda de Taos
517,Palu,ID,-0.8917,119.8707,,Palu Golden Hotel
520,Troitskoye,RU,52.9821,84.6757,,NaN
524,Along,IN,28.1667,94.7667,,Reyi Homestay
530,Barcelos,PT,41.5388,-8.6151,,Art'otel Barcelos

In [19]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [20]:
# Add marker layer ontop of heat map
marks = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(marks)

#generate map
fig

Figure(layout=FigureLayout(height='420px'))