In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time

#API Key
from api_keys import g_key

In [3]:
#load in CSV from part 1
weather_df = pd.read_csv("Data/city_data.csv")
weather_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Hobart,75,AU,1626736666,82,-42.8794,147.3294,48.11,6.91
1,Rikitea,99,PF,1626736665,66,-23.1203,-134.9692,70.95,25.28
2,Bredasdorp,100,ZA,1626736525,82,-34.5322,20.0403,51.12,1.14
3,Espinosa,20,BR,1626736913,32,-14.9261,-42.8192,75.29,3.33
4,Mataura,67,NZ,1626736721,79,-46.1927,168.8643,40.48,3.22
...,...,...,...,...,...,...,...,...,...
549,Dongobesh,29,TZ,1626737117,73,-4.0667,35.3833,49.80,4.81
550,Srednekolymsk,100,RU,1626737118,38,67.4500,153.6833,63.97,12.19
551,Sirte,0,LY,1626737118,69,31.2089,16.5887,78.35,6.69
552,Flin Flon,20,CA,1626736979,46,54.7682,-101.8650,69.64,6.91
553,Tiznit Province,0,MA,1626737097,39,29.5833,-9.5000,76.68,4.72

In [4]:
# Humidity Heatmap
# use configure to import maps
gmaps.configure(api_key=g_key)

# use Lat and Lngs for locations, store in a list to use later
locations = weather_df[["Lat", "Lng"]]

# use humidity and store in list for use in heat map values
humidity = weather_df[["Humidity"]]

In [5]:
# humidity = weather_df[["Humidity"]]

# # Plot Heatmap
# heat_map = gmaps.figure(center=(0, 0), zoom_level=2)
# max_intensity = np.max(humidity)


# # Heat layer...
# heat = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)

# # Apply Layer
# heat_map.add_layer(heat)

# #generate display
# heat_map

humidity = weather_df["Humidity"]

fig = gmaps.figure(center=(0, 0), zoom_level=2)
max_intensity = np.max(humidity)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
max_intensity

100

In [7]:
# New df for weather

In [8]:
# Using example criteria to narrow down city df
narrow_df = weather_df.loc[(weather_df["Wind Speed"] <= 10) & (weather_df["Cloudiness"] >= 0) &
                          (weather_df["Max Temp"] >= 70) & (weather_df["Max Temp"] <= 80)].dropna()

narrow_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
3,Espinosa,20,BR,1626736913,32,-14.9261,-42.8192,75.29,3.33
7,Jamestown,1,US,1626736464,65,42.0970,-79.2353,79.92,3.00
24,Bengkulu,75,ID,1626736920,90,-3.8004,102.2655,74.53,5.75
33,Bara,36,NG,1626736924,82,10.3744,10.7288,75.42,8.34
39,Albany,83,US,1626736819,83,42.6001,-73.9662,77.14,1.19
...,...,...,...,...,...,...,...,...,...
529,Saquena,60,PE,1626736988,95,-4.6667,-73.5167,73.06,1.77
536,Vanino,95,RU,1626737113,55,49.0869,140.2543,78.75,0.34
546,Caucayá,43,CO,1626737116,97,-0.1934,-74.7819,72.50,2.44
551,Sirte,0,LY,1626737118,69,31.2089,16.5887,78.35,6.69
553,Tiznit Province,0,MA,1626737097,39,29.5833,-9.5000,76.68,4.72

In [9]:
# Hotel df

In [10]:
# df for hotel using filtered df
hotel_df = narrow_df.loc[:,["City","Country","Lat","Lng"]]

#add 'hotel' column to df
hotel_df["Hotel"] = ""

hotel_df

                City Country      Lat       Lng Hotel
3           Espinosa      BR -14.9261  -42.8192
7          Jamestown      US  42.0970  -79.2353
24          Bengkulu      ID  -3.8004  102.2655
33              Bara      NG  10.3744   10.7288
39            Albany      US  42.6001  -73.9662
..               ...     ...      ...       ...   ...
529          Saquena      PE  -4.6667  -73.5167
536           Vanino      RU  49.0869  140.2543
546          Caucayá      CO  -0.1934  -74.7819
551            Sirte      LY  31.2089   16.5887
553  Tiznit Province      MA  29.5833   -9.5000

[123 rows x 5 columns]

In [11]:
# Parameters for hotel searcha and url

In [12]:
# url build
search_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

# search parameters
params = {"type" : "hotel",
         "keyword" : "hotel",
         "radius" : 5000,
         "key" : g_key}

In [14]:
#for loop

for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    params["location"] = f"{lat},{lng}"
    
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(search_url, params=params).json()
    results = response['results']
    
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
    except (KeyError, IndexError):
        print("Could not find result")
        print("---------------------")
        time.sleep(1)
    print("---------------------Ending Search")

Retrieving Results for Index 3: Espinosa.
Closest hotel in Espinosa is Hotel Fronteira.
---------------------Ending Search
Retrieving Results for Index 7: Jamestown.
Closest hotel in Jamestown is Chautauqua Harbor Hotel.
---------------------Ending Search
Retrieving Results for Index 24: Bengkulu.
Closest hotel in Bengkulu is Mercure Bengkulu.
---------------------Ending Search
Retrieving Results for Index 33: Bara.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 39: Albany.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 42: Balkhash.
Closest hotel in Balkhash is Гостиница Respect.
---------------------Ending Search
Retrieving Results for Index 43: Puerto Ayora.
Closest hotel in Puerto Ayora is Galapagos Habitat by Eco Luxury Group.
---------------------Ending Search
Retrieving Results for Index 48: Howard Springs.
Closest hotel in Howard Springs is BIG4 Howard Springs Holiday Park.
---------------------Ending Search
Retrieving Results for Index 49: Bethel.
Closest hotel in Bethel is Holiday Inn Danbury-Bethel @ I-84, an IHG Hotel.
---------------------Ending Search
Retrieving Results for Index 50: Vaini.
Closest hotel in Vaini is Paradise First Hotel.
---------------------Ending Search
Retrieving Results for Index 53: Ponta do Sol.
Closest hotel in Ponta do Sol is Palace of Zinos.
---------------------Ending Search
Retrieving Results for Index 67: Mushie.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 69: Tezu.
Closest hotel in Tezu is Hotel Taboka.
---------------------Ending Search
Retrieving Results for Index 76: Yangi Marg`ilon.
Closest hotel in Yangi Marg`ilon is TANTANA HOTEL FERGANA.
---------------------Ending Search
Retrieving Results for Index 89: Norman Wells.
Closest hotel in Norman Wells is Heritage Hotel.
---------------------Ending Search
Retrieving Results for Index 93: Liaozhong.
Closest hotel in Liaozhong is Shenyang Wenhua Hotel.
---------------------Ending Search
Retrieving Results for Index 107: Khandyga.
Closest hotel in Khandyga is Prezidentskaya Gostinitsa.
---------------------Ending Search
Retrieving Results for Index 108: Deep River.
Closest hotel in Deep River is Deep River Motel.
---------------------Ending Search
Retrieving Results for Index 117: Luchegorsk.
Closest hotel in Luchegorsk is Ulunga.
---------------------Ending Search
Retrieving Results for Index 120: Vostok.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 128: Kasongo-Lunda.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 153: Santa Helena.
Closest hotel in Santa Helena is Hotel E Restaurante Do Goiâno.
---------------------Ending Search
Retrieving Results for Index 174: Nantucket.
Closest hotel in Nantucket is White Elephant Nantucket.
---------------------Ending Search
Retrieving Results for Index 176: Pokhara.
Closest hotel in Pokhara is Shangrila Village Resort Pokhara.
---------------------Ending Search
Retrieving Results for Index 185: Posse.
Closest hotel in Posse is Pousada das Palmeiras.
---------------------Ending Search
Retrieving Results for Index 192: Meulaboh.
Closest hotel in Meulaboh is Bin Daod Hotel and Restaurant.
---------------------Ending Search
Retrieving Results for Index 209: Porto-Vecchio.
Closest hotel in Porto-Vecchio is Les Bergeries de Palombaggia.
---------------------Ending Search
Retrieving Results for Index 213: Isangel.
Closest hotel in Isangel is Volcano Sea View Tree House.
---------------------Ending Search
Retrieving Results for Index 218: Smoky Lake.
Closest hotel in Smoky Lake is Super 8 by Wyndham Smoky Lake.
---------------------Ending Search
Retrieving Results for Index 222: Cobija.
Closest hotel in Cobija is Hotel Dorado.
---------------------Ending Search
Retrieving Results for Index 223: Grand Gaube.
Closest hotel in Grand Gaube is LUX Grand Gaube Resort & Villas.
---------------------Ending Search
Retrieving Results for Index 227: Iracoubo.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 229: Lewiston.
Closest hotel in Lewiston is Inn at the Agora.
---------------------Ending Search
Retrieving Results for Index 230: Aklavik.
Closest hotel in Aklavik is Sundog Inn.
---------------------Ending Search
Retrieving Results for Index 236: Havre-St-Pierre.
Closest hotel in Havre-St-Pierre is Complexe MV.
---------------------Ending Search
Retrieving Results for Index 240: Waingapu.
Closest hotel in Waingapu is Padadita Beach Hotel.
---------------------Ending Search
Retrieving Results for Index 243: Pemangkat.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 244: Carutapera.
Closest hotel in Carutapera is HOTEL R. SOARES.
---------------------Ending Search
Retrieving Results for Index 246: Grand-Santi.
Closest hotel in Grand-Santi is Hotel La Villa Couacou.
---------------------Ending Search
Retrieving Results for Index 247: Huesca.
Closest hotel in Huesca is Hotel Sancho Abarca SPA Huesca.
---------------------Ending Search
Retrieving Results for Index 249: Luanda.
Closest hotel in Luanda is EPIC SANA Luanda.
---------------------Ending Search
Retrieving Results for Index 255: Bonfim.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 256: Danané.
Closest hotel in Danané is N'HOKAA ELITE HOTEL.
---------------------Ending Search
Retrieving Results for Index 258: Baoding.
Closest hotel in Baoding is Xiu Lan Hotel.
---------------------Ending Search
Retrieving Results for Index 259: Hanyang.
Closest hotel in Hanyang is Jianshan no mountain home stay.
---------------------Ending Search
Retrieving Results for Index 262: Cairns.
Closest hotel in Cairns is Shangri-La The Marina, Cairns.
---------------------Ending Search
Retrieving Results for Index 268: Khāsh.
Closest hotel in Khāsh is خوابگاه ۲۴ساعته حسام.
---------------------Ending Search
Retrieving Results for Index 273: Boyolangu.
Closest hotel in Boyolangu is Crown Victoria Hotel.
---------------------Ending Search
Retrieving Results for Index 274: Yelan’-Koleno.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 279: Lixouri.
Closest hotel in Lixouri is Thalassa Boutique Hotel Kefalonia.
---------------------Ending Search
Retrieving Results for Index 283: Chiang Rai.
Closest hotel in Chiang Rai is Imsuk Homestay at Chiang Rai.
---------------------Ending Search
Retrieving Results for Index 284: Poum.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 287: São Filipe.
Closest hotel in São Filipe is Hotel Ocean View & Restaurante Seafood.
---------------------Ending Search
Retrieving Results for Index 288: Tura.
Closest hotel in Tura is Hotel Polo Orchid.
---------------------Ending Search
Retrieving Results for Index 290: Yenagoa.
Closest hotel in Yenagoa is Top Ranks Hotel Galaxy.
---------------------Ending Search
Retrieving Results for Index 292: Mackay.
Closest hotel in Mackay is Ocean International Hotel.
---------------------Ending Search
Retrieving Results for Index 300: Gbarnga.
Closest hotel in Gbarnga is Passion Hotel 1.
---------------------Ending Search
Retrieving Results for Index 311: Mitsamiouli.
Closest hotel in Mitsamiouli is Al Camar Lodge.
---------------------Ending Search
Retrieving Results for Index 313: Salalah.
Closest hotel in Salalah is Salalah Gardens Hotel.
---------------------Ending Search
Retrieving Results for Index 317: Methóni.
Closest hotel in Methóni is Methoni Beach S.A..
---------------------Ending Search
Retrieving Results for Index 318: Zhezkazgan.
Closest hotel in Zhezkazgan is Cosmos.
---------------------Ending Search
Retrieving Results for Index 323: Shizunai-furukawachō.
Closest hotel in Shizunai-furukawachō is Shizunai Eclipse Hotel.
---------------------Ending Search
Retrieving Results for Index 326: Panguna.
Could not find result
---------------------

---------------------Ending Search
Retrieving Results for Index 327: Būkān.
Closest hotel in Būkān is The Izadi Hotel.
---------------------Ending Search
Retrieving Results for Index 328: Zhangye.
Closest hotel in Zhangye is Zhangye Lvzhou Holiday Inn.
---------------------Ending Search
Retrieving Results for Index 329: Praia da Vitória.
Closest hotel in Praia da Vitória is Atlântida Mar Hotel.
---------------------Ending Search
Retrieving Results for Index 332: Ürümqi.
Closest hotel in Ürümqi is Hua Ling Grand Hotel Urumqi.
---------------------Ending Search
Retrieving Results for Index 333: Olhão.
Closest hotel in Olhão is Hotel Cidade de Olhão.
---------------------Ending Search
Retrieving Results for Index 335: Dakar.
Closest hotel in Dakar is Radisson Blu Hotel, Dakar Sea Plaza.
---------------------Ending Search
Retrieving Results for Index 337: Camopi.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 340: Northam.
Closest hotel in Northam is The Seagate Hotel.
---------------------Ending Search
Retrieving Results for Index 345: Tongzi.
Closest hotel in Tongzi is Hengxu International Hotel.
---------------------Ending Search
Retrieving Results for Index 351: Burns Lake.
Closest hotel in Burns Lake is Key-oh Lodge.
---------------------Ending Search
Retrieving Results for Index 352: Padang.
Closest hotel in Padang is Air Manis Hill Residence.
---------------------Ending Search
Retrieving Results for Index 356: Am Timan.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 360: Mattru.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 368: Gela.
Closest hotel in Gela is Hotel Villa Peretti.
---------------------Ending Search
Retrieving Results for Index 380: Rocky Mountain House.
Closest hotel in Rocky Mountain House is Rocky Inn Express.
---------------------Ending Search
Retrieving Results for Index 382: Nikki.
Closest hotel in Nikki is Hotel John.
---------------------Ending Search
Retrieving Results for Index 383: Siderno.
Closest hotel in Siderno is Hotel Miramare.
---------------------Ending Search
Retrieving Results for Index 386: Goderich.
Closest hotel in Goderich is Samuels Hotel.
---------------------Ending Search
Retrieving Results for Index 392: Ban Nahin.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 393: Cap Malheureux.
Closest hotel in Cap Malheureux is LUX Grand Gaube Resort & Villas.
---------------------Ending Search
Retrieving Results for Index 399: Korla.
Closest hotel in Korla is Kangcheng Jian Guo International Hotel.
---------------------Ending Search
Retrieving Results for Index 400: Ariquemes.
Closest hotel in Ariquemes is Premium Palace Hotel.
---------------------Ending Search
Retrieving Results for Index 403: Wamba.
Closest hotel in Wamba is Roma Zee Guest House Annex.
---------------------Ending Search
Retrieving Results for Index 406: Bintulu.
Closest hotel in Bintulu is Fairfield by Marriott Bintulu Paragon.
---------------------Ending Search
Retrieving Results for Index 410: Garoua.
Closest hotel in Garoua is Hôtel la Tour d'argent.
---------------------Ending Search
Retrieving Results for Index 420: Talavera.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 433: Maceió.
Closest hotel in Maceió is Jatiúca Hotel & Resort.
---------------------Ending Search
Retrieving Results for Index 437: Krk.
Closest hotel in Krk is Falkensteiner Hotel Park Punat.
---------------------Ending Search
Retrieving Results for Index 438: Wanning.
Closest hotel in Wanning is Wanning Xi 'eryue Wisdom Hotel.
---------------------Ending Search
Retrieving Results for Index 439: Sajanan.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 441: Ajdabiya.
Closest hotel in Ajdabiya is Almadina Hotel.
---------------------Ending Search
Retrieving Results for Index 444: São Paulo de Olivença.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 446: Atambua.
Closest hotel in Atambua is Hotel Matahari.
---------------------Ending Search
Retrieving Results for Index 447: Porto Velho.
Closest hotel in Porto Velho is Oscar Hotel Executive.
---------------------Ending Search
Retrieving Results for Index 458: Santa Maria do Suaçuí.
Closest hotel in Santa Maria do Suaçuí is Hotel do Vavá.
---------------------Ending Search
Retrieving Results for Index 459: Banjar.
Closest hotel in Banjar is Villa Pantai.
---------------------Ending Search
Retrieving Results for Index 463: Natitingou.
Closest hotel in Natitingou is Hotel Totora.
---------------------Ending Search
Retrieving Results for Index 464: Mizdah.
Closest hotel in Mizdah is فندق بنيه تحتيه.
---------------------Ending Search
Retrieving Results for Index 469: São Félix do Xingu.
Closest hotel in São Félix do Xingu is Apart Hotel Rio Xingu.
---------------------Ending Search
Retrieving Results for Index 475: Amapá.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 478: Guerrero.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 482: Nabire.
Closest hotel in Nabire is Mahavira Hotel.
---------------------Ending Search
Retrieving Results for Index 483: Arrondissement de Lannion.
Closest hotel in Arrondissement de Lannion is Hotel Arcadia.
---------------------Ending Search
Retrieving Results for Index 493: Kalach-na-Donu.
Closest hotel in Kalach-na-Donu is Admiral".
---------------------Ending Search
Retrieving Results for Index 494: Caravelas.
Closest hotel in Caravelas is Pousada Encanto Abrolhos.
---------------------Ending Search
Retrieving Results for Index 500: Alizai.
Closest hotel in Alizai is Asif hotel.
---------------------Ending Search
Retrieving Results for Index 502: Fort Nelson.
Closest hotel in Fort Nelson is Lakeview Inns & Suites - Fort Nelson.
---------------------Ending Search
Retrieving Results for Index 503: Joshīmath.
Closest hotel in Joshīmath is The Tattva - A Boutique Resort.
---------------------Ending Search
Retrieving Results for Index 504: Kushiro.
Closest hotel in Kushiro is ANA CROWNE PLAZA Kushiro.
---------------------Ending Search
Retrieving Results for Index 508: Ibicaraí.
Closest hotel in Ibicaraí is Pousada Patioba.
---------------------Ending Search
Retrieving Results for Index 510: Solnechnyy.
Closest hotel in Solnechnyy is Hotel complex Pastoral.
---------------------Ending Search
Retrieving Results for Index 514: Fes.
Closest hotel in Fes is Riad Fes - Relais & Châteaux.
---------------------Ending Search
Retrieving Results for Index 515: Boca do Acre.
Closest hotel in Boca do Acre is Hotel Alice.
---------------------Ending Search
Retrieving Results for Index 521: Kermanshah.
Closest hotel in Kermanshah is Patagh Hotel.
---------------------Ending Search
Retrieving Results for Index 525: Sanming.
Closest hotel in Sanming is Echeng Hotel.
---------------------Ending Search
Retrieving Results for Index 529: Saquena.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 536: Vanino.
Closest hotel in Vanino is Гостиница 5 Звезд.
---------------------Ending Search
Retrieving Results for Index 546: Caucayá.
Closest hotel in Caucayá is la casona de juancho.
---------------------Ending Search
Retrieving Results for Index 551: Sirte.
Could not find result
---------------------
---------------------Ending Search
Retrieving Results for Index 553: Tiznit Province.
Could not find result
---------------------
---------------------Ending Search

In [15]:
hotel_df

                City Country      Lat       Lng Hotel               Hotel Name
3           Espinosa      BR -14.9261  -42.8192                Hotel Fronteira
7          Jamestown      US  42.0970  -79.2353        Chautauqua Harbor Hotel
24          Bengkulu      ID  -3.8004  102.2655               Mercure Bengkulu
33              Bara      NG  10.3744   10.7288                            NaN
39            Albany      US  42.6001  -73.9662                            NaN
..               ...     ...      ...       ...   ...                      ...
529          Saquena      PE  -4.6667  -73.5167                            NaN
536           Vanino      RU  49.0869  140.2543              Гостиница 5 Звезд
546          Caucayá      CO  -0.1934  -74.7819           la casona de juancho
551            Sirte      LY  31.2089   16.5887                            NaN
553  Tiznit Province      MA  29.5833   -9.5000                            NaN

[123 rows x 6 columns]

In [16]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [17]:
# Add marker layer ontop of heat map
marks = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(marks)

#generate map
fig

Figure(layout=FigureLayout(height='420px'))